
/* font em hack*/

/****** basicly a hack that makes 1em= 10px so math is easier ******/
/* main stylesheet */
/** NAV **/

#nav {
    max-width: 100%;
    background: #BD3D03;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 3em;
}
#nav ul {
    margin-left: auto;
    margin-right: auto;
    display: block;
    vertical-align: middle;
    text-align: center;
}
#nav li {
    list-style: none;
    display: inline-block;
    margin-bottom: 0;
}
#nav li a {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    color: white;
    text-decoration: none;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
#nav a:hover {
    background-color: white;
    color: #BD3D03;
}
data-show-count {
    /* what? */
}
/** CONTENT WRAP **/

#inner-content {
    margin-right: 1.3em;
}
#top {
    width: 100%;
    background-color: #960600;
    height: inherit;
}
/** TEXT TAG & IMG **/

h1 {
    font-size: 2.4em;
    padding: 0.5em;
    color: white;
    text-align: center;
    line-height: 1em;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: 500;
}
h2 {
    font-size: 1.8em;
    margin-bottom: 1em;
    margin-left: 1em;
    color: #960600;
    line-height: 1.5em;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: 500;
}
h3 {
    margin-left: 1em;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-weight: 500;
}
p {
    margin-bottom: 1.5em;
    margin-left: 3em;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    line-height: 2em;
    font-size: 1.2em;
    font-weight: 400;
}
ul {
    margin-left: 3em;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}
li {
    list-style: none;
    margin-bottom: 1.5em;
    margin-left: 1em;
}
a {
    color: #BD3D03;
}
a:hover {
    color: #960600;
}
.twitter-follow-button {
    margin-left: 1em;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* End of file */
